<section class="tracks">

  <header>
    <a href="javascript: history.go(-1);location.replace(document.referrer)">go back</a>

    <h2>{{albumData.name}}</h2>
    <h2>{{albumData.release_date}}</h2>
  </header>

  <div>
    <img src="{{albumData.images.[0].url}}" alt="{{albumData.name}}">
  </div>

  <button class="external-like-button">ExternalHeartLike</button>


  <section class="track-list">
    {{!-- <p>like album</p>
    <form action="/album/{{albumData.id}}/addAlbum" method="POST">
      <button class="btn-add" type="submit">like album</button>
    </form> --}}
    {{#each myTracks}}
      <article>
        <p>{{this.name}}</p>
        <p>{{this.id}}</p>
        <audio controls name="media">
          <source src="{{this.preview_url}}" type="audio/mpeg">
        </audio>
        <ul>
          <li>
            <form action="/album/{{this.id}}/like/{{this.albumId}}" method="POST">
              <button class="btn-like" type="submit">Like</button>
            </form>
          </li>
          <li> <button class="share-button">share</button></li>
          <li> <a href="#0" class="add-button">add</a></li></ul>-.
          {{#each this.myPlaylist}}
            <p>{{../name}}</p>
            <li>{{this.name}}
              <form action="/album/{{this.id}}/add/{{this.albumId}}/to/{{../id}}" method="POST">
                <button class="btn-add" type="submit">add song</button>
              </form>
            </li>
          {{/each}}
      </article>
    {{/each}}
  </section>
</section>

<section class="add-to-playlists">
  <ul>
    {{#each user.playlists}}
      <li>{{this.name}}
        <form action="/album/{{this.id}}/add/{{this.albumId}}" method="POST">
          <button class="btn-add" type="submit">add song</button>
        </form>
      </li>
    {{/each}}
  </ul>
</section>
{{> userNavbar}}


