<section class="tracks">

  <header>
    <a href="javascript: history.go(-1);location.replace(document.referrer">go back</a>

    <h2>{{albumData.name}}</h2>
    <h2>{{albumData.release_date}}</h2>
  </header>

  <div>
    <img src="{{albumData.images.[0].url}}" alt="{{albumData.name}}">
  </div>

  <button class="external-like-button">ExternalHeartLike</button>


  <section class="track-list">
    {{#each tracks}}
      <article>
        <p>{{this.name}}</p>
        <audio controls name="media">
          <source src="{{this.preview_url}}" type="audio/mpeg">
        </audio>
        <ul>
          <li><button class="internal-like-button">like</button></li>
          <li> <button class="share-button">share</button></li>
          <li> <a href="#0" class="add-button">add</a></li></ul>
      </article>
    {{/each}}
  </section>

</section>

<section class="playlist-disclose">
  <ul>
    <li><button id="{{_id}}">playlist1</button></li>
  </ul>
</section>
{{> userNavbar}}

