<section class="artist-page">

  <header>
    <a href="javascript: history.go(-1)">go back</a>
    <h3>"{{artist}}" holaaaaaaaaaaa</h3>
  </header>

  <div>
    <img src="{{infoArtist.images.[0].url}}" alt="{{infoArtist.name}}">
  </div>
  <h3>{{infoArtist.name}}</h3>
  <p>description</p>

  <section>
    {{#each albums}}
    <article>
      {{#if this.images.0.url}}
        <img src="{{this.images.0.url}}" alt="artist photo">
      {{else}}
        <img src="./images/man-4-400.jpg" alt="artist photo">
      {{/if}}
      <div>
        <h3>{{this.name}}</h3>
        <p>{{this.release_date}} · {{this.album_type}}</p>
        <a href="/album/{{this.id}}">View album</a>
      </div>
    </article>
    {{/each}}
  </section>

  {{> userNavbar}}
</section>