<section class="artist-page">

  <a class="go-back" href="javascript: history.go(-1);location.replace(document.referrer)">
    <img src="../images/arrow-left-color.png">
  </a>
  
  <div class="big-image">
    <img src="{{infoArtist.images.[0].url}}" alt="{{infoArtist.name}}">
  </div>
   
  <form action="/artist/{{infoArtist.id}}/addArtist" method="POST" class="like">
    <button class="btn-add" type="submit">like artist</button>
  </form>

  <section class="list-info-section">
    <h1 class="name">{{infoArtist.name}}</h1>

    {{#each albums}}
    <article class="list-elements">
      <div class="image-wrapper">
        {{#if this.images.0.url}}
          <img src="{{this.images.0.url}}" alt="artist photo">
        {{else}}
          <img src="./images/man-4-400.jpg" alt="artist photo">
        {{/if}}
      </div>
      <div class="info-wrapper">
        <h2>{{this.name}}</h2>
        <p>{{this.release_date}} · {{this.album_type}}</p>
        <a href="/album/{{this.id}}"></a>
      </div>
    </article>
    {{/each}}
  </section>

  {{> userNavbar}}
</section>