<section id="login">
  <a href="/">Go back</a>

  {{#if messages.length}}
  <p class="validation">
    {{#each messages}}{{this}}{{/each}}
  </p>
  {{/if}}

  {{#if emailData.length}}
  <p class="validation">
    {{#each emailData}}{{this}}{{/each}}
  </p>
  {{/if}}

  {{#if usernameExistent.length}}
  <p class="validation">
    {{#each usernameExistent}}{{this}}{{/each}}
  </p>
  {{/if}}
  
  <form action="/auth/login" method="POST">
    <label for="username">Username</label>
    {{#if formData.length}}
      {{#each formData}}
        <input type="text" name="username" id="username"   placeholder="Username" value="{{this}}"> 
      {{/each}}
    {{else}}
      <input type="text" name="username" id="username"  placeholder="Username"> 
    {{/if}}
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>

</section>



