
<section id="modify-profile">
  <form action="/modifyProfile/{{data.user._id}}/edit" method="POST">
    {{#if formData.length}}
      {{#each formData}}
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required placeholder="email" value="{{this.email}}"> 
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required placeholder="Password">
        <label for="location">Location</label>
        <input type="text" name="location" id="location" required placeholder="Location" value="{{this.location}}"> 
      {{/each}}
    {{else}}
      <label for="email">Email</label>
      <input type="text" name="email" id="email" required placeholder="email" value="{{data.user.email}}"> 
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required placeholder="Password" value="{{data.user.password}}">
      <label for="location">Location</label>
      <input type="text" name="location" id="location" required placeholder="Location" value="{{data.user.location.name}}"> 
    {{/if}}
    <button type="submit">Update</button>
  </form>

  {{#if passwordformat.length}}
  <p class="validation">
    {{#each passwordformat}}{{this}}{{/each}}
  </p>
  {{/if}}

  {{#if usernameExistent.length}}
  <p class="validation">
    {{#each usernameExistent}}{{this}}{{/each}}
  </p>
  {{/if}}

  {{#if emailformat.length}}
  <p class="validation">
    {{#each emailformat}}{{this}}{{/each}}
  </p>
  {{/if}}

  {{#if emailExistent.length}}
  <p class="validation">
    {{#each emailExistent}}{{this}}{{/each}}
  </p>
  {{/if}}
  

</section>




