 <a href="javascript: history.go(-1);location.replace(document.referrer)">go back</a>
<h1> {{name}}</h1>

{{#each trackInfo}}

      <article>
        <p>{{this.name}}</p>
        <p>{{this.id}}</p>
        <audio controls name="media">
          <source src="{{this.preview_url}}" type="audio/mpeg">
        </audio>
        <ul>
          <li>
            <form action="/album/{{this.id}}/like/{{this.albumId}}" method="POST">
              <button class="btn-like" type="submit">Like</button>
            </form>
          </li>
          <li> <button class="share-button">share</button></li>
          <li> <a href="#0" class="add-button">add</a></li></ul>
          {{!-- {{#each this.myPlaylist}}
            <p>{{../name}}</p>
            <li>{{this.name}}
              <form action="/album/{{this.id}}/add/{{this.albumId}}/to/{{../id}}/from/{{../artists.0.id}}" method="POST">
                <button class="btn-add" type="submit">add song</button>
              </form>
            </li>
          {{/each}} --}}
      
        <a href="/artist/{{artists.0.id}}">View Artist</a>  
        <a href="/album/{{albumId}}">View album</a>
        <form class="playlist-form" action="/playlistSongCollection/{{playlist._id}}/delete/{{this.id}}" method="POST">
          <button class="playlist-create" type="submit">DELETE</button>
        </form>

      </article>
    {{/each}}

