
<section id="profile">

  <a class="go-back" href="javascript: history.go(-1);location.replace(document.referrer)">
    <img src="../images/arrow-left-color.png">
  </a>

  <div class="big-image">
    <img src="{{newUser.picture}}" alt="{{newUser.username}}">
  </div>

  <section class="profile-stats">
    <div>
      <p>Profile</p>
      <h1 class="title">{{newUser.username}}</h1>
      <a class="edit" href="/modifyProfile/{{newUser._id}}">
        <img src="../images/edit-white.png" alt="edit icon">
      </a>
    </div>
    {{!-- <form action="/album/{{albumData.id}}/addAlbum" method="POST" class="like">
      <button class="btn-add" type="submit">
        <img src="../images/edit-whiet.png" alt="edit icon">
      </button>
    </form> --}}
    <hr class="line">
    <section class="profile-info">
      <ul>
        <li>
          <a href="/playlistCollection">
            <p>Number of Playlists</p>
            <h2>{{newUser.playlists.length}}</h2>
          </a>
        </li>
        <li>
          <a href="/playlistCollection">
            <p>Favourite Artists</p>
            <h2>{{newUser.artists.length}}</h2>
          </a>
        </li>
        <li>
          <a href="/playlistCollection">
            <p>Favourite Albums</p>
            <h2>{{newUser.albums.length}}</h2>
          </a>
        </li>
      </ul>
    </section>
    <hr class="line">
    <section class="profile-info-2">
      <ul>
        <li>
          <p>Location</p>
          <h2>{{newUser.location.name}}</h2>
        </li>
        </li>
        <li>
          <p>Email</p>
          <h2>{{newUser.email}}</h2>
        </li>
      </ul>
    </section>
    <section class="logout">
      <form action="/profile/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </section>

</section>

{{> userNavbar}}





  
   




