<section id="private-main">
  <div class="title">
    <p>Welcome</p>
    <h1>{{currentUser.username}}</h1>
  </div>

  <section class="search-bar">
    <form action="/searchResults" method="GET">
      <label for="artist"></label>
      <input type="text" name="artist" id="artist" placeholder="Looking for an artist!" required>
      <button type="submit">
        <img src="../images/search.png" alt="search icon">
      </button>
    </form>
  </section>

  <section class="covers">
    <section class="covers-text">
      <h2>My Playlists</h2>
      <a class="all-covers" href="/playlistCollection">View All</a>
    </section>
    <div class="playlist-slider">
      {{!-- <article class="cover-article">
        <a href="/playlistSongCollection/my-favou">
          <div>
            <img src="" alt="">
          </div>
          <h3>favoritos</h3>
        </a>
      </article> --}}
              <img src="{{superInfoTrack.albumCover}}" alt="">

      {{#each newUser.playlists}}
        <article class="cover-article">
          <a href="/playlistSongCollection/{{_id}}">
            <div>
              <img src="{{this.image}}" alt="">
              <img src="{{this.albumCover}}" alt="">
            </div>
            <h3>{{name}}</h3>
          </a>
        </article>
      {{/each}}
      <article class="cover-article new-one">
        <a class="add-playlist" href="#0">
          <img src="../images/rounded-add.png" alt="create playlist icon">
        </a>
      </article>
    </div>
  </section>

{{!-- poner artistas favoritos --}}
  {{!-- {{#if artistInfo.length}} --}}
    <section class="covers">
    <section class="covers-text">
      <h2>My Artists</h2>
      <a class="all-covers" href="#0">View All</a>
    </section>
    <div class="playlist-slider">
      {{#each artistsInfo}}
        <article class="cover-article">
          <a href="#0">
            <div>
              <img src="{{this.images.0.url}}" alt="{{this.name}}">
            </div>
            <h3>{{name}}</h3>
          </a>
        </article>
      {{/each}}
    </div>
  </section>
  {{!-- {{/if}} --}}

{{!-- poner albumes favoritos --}}
  {{#if albumInfo.length}}
    <section class="covers">
      <section class="covers-text">
        <h2>My Albums</h2>
        <a class="all-covers" href="#0">View All</a>
      </section>
      <div class="playlist-slider">
        {{#each albumsInfo}}
          <article class="cover-article">
            <a href="#0">
              <div>
                <img src="{{this.images.0.url}}" alt="{{this.name}}">
              </div>
              <h3>{{name}}</h3>
            </a>
          </article>
      {{/each}}
      </div>
    </section>
  {{/if}}

</section>
{{> userNavbar}}


<section class="playlist-collection">
  <a class="close-creation" href="#0">
    <img src="../images/add.png" alt="close search page form navbar">
  </a>
  <section class="hidden-form">
    <h2>Create new playlist</h2>
    <form class="playlist-form">
      <label for="name"></label>
      <input type="text" name="name" id="name" placeholder="Name">
      <button class="playlist-create" type="submit">
        <img src="../images/rounded-add-color.png" alt="close search page form navbar"> 
      </button>
    </form>
  </section>
</section>

<script src="../javascripts/main.js"></script>
